@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222;
}
h1{
    color: #fff;
    text-align: center;
    margin: 50px;
}
form, div{
    text-align: center;
    margin:25px;
}
#name, #end{
    border-radius: 15px;
    width: 279px;
    height: 68px;
    text-align: center;
}
::placeholder{
    font-weight: 900;
    opacity: 1;
    color: #000;
    text-align: center;
    font-size: 16px;
}
#sub{
    width: 410px;
    height: 110px;
    border-radius: 15px;
    background-color: #577AF8;
    font-weight: 500;
    opacity: 1;
    color: #fff;
    font-size: 36px;
}

