@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;

  }
  :root{
    font-size: 16px;
  }
  h1{
    text-align: center;
    color:#fff;
    font-weight: 700;
    margin: 20px;
    font-size: 3rem;
  }
  body{
    background-image: linear-gradient(#FF8100, #FFBA00);
    background-repeat: no-repeat;
    height: 100vh;
  }
  #caixa__card{
    margin: auto;
    text-align: center;
    background-color: #fff;
    max-width: 640px;
    min-width: 320px;
  }
  #cidade__card{
    text-align: left;
  }
  #cidade__card > p{
    display: inline-flex;
    margin-top: 20px;
    color: #575656;
    font-size: 1.2rem;;
  }
  .margem{
    margin-left: 35px;
    
  }
  #cidade__card2{
    text-align: left;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
  }
  #cidade__card2 > h3{
    display: inline-flex;
  }

  #cidade__card3 > p{
    display: inline-flex;
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
  }
  #cidade__card4 > p{
    display: inline-flex;
    color:black;
    font-weight: 500;
  }
  #cidade__card4{
    display: inline;
    position: absolute;
    top: 212px;
    color:#575656;
    font-size: 1.2rem;

  }
  #cidade__card3{
    text-align: left;
    color: #FF8100;
  }
  #entrada{
    text-align: center;
  }
  button{
    margin: 30px;
  }
  hr{
    margin: 30px;
  }
 