@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 16px;
}

body{
    background-color: rgba(245, 235, 222, 0.767);
}
#title{
    background-color: #fff;
    margin: 30px;
    width: 375px;
    height: 100px;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 7px 1px rgba(58, 56, 56, 0.658);
    
}
h1{
    padding-top: 20px;
}
#box{
    background-color: #fff;
    margin: 100px auto;
    width: 375px;
    height: 402px;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 18px;
    box-shadow: 4px 4px 7px 1px rgba(58, 56, 56, 0.658);
}
h3{
    padding: 50px 0 20px 0;
}

input{
    border-radius: 8px;
    height: 32px;
    box-shadow: 3px 3px 8px 2px rgba(187, 187, 187, 0.411);
    border-color: #cccaca00;
    text-align: center;
    font-size: 1.2rem;
    margin: 50px 0 0px 0;
}

button{
    background-color: #5183DC;
    border-color: #5183DC;
    width: 265px;
    height: 32px;
    margin: 50px 0 30px 0;
    box-shadow: 3px 3px 8px 2px rgba(187, 187, 187, 0.411);
    border-radius: 8px;
}
#result{
    margin: auto;
    text-align: center;
}
#clue{
    background-color: #F97880;
    border-color: #F97880;
    color:#fff;
    width: 265px;
    height: 32px;
    margin: auto;
    box-shadow: 3px 3px 8px 2px rgba(187, 187, 187, 0.411);
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
}