:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

/* DESIGN SYSTEM */
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

h3 {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

ul {
  list-style: none;
}
/* ------------ */

body {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}

main {
  width: 50vw;
}

nav {
  background: #fffeff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50vw;
  height: 10vh;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  min-height: 140px;
}

.container {
  margin-top: 2rem;
  background: #fffeff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50vw;
  height: 25vh;
  padding: 2rem 0 2rem 1rem;
}

.container h1 {
  margin-bottom: 1rem;
}

nav h1 {
  margin-bottom: 1.5rem;
}

nav ul {
  display: flex;
  gap: 2rem;
}

.bold {
  font-weight: 700 !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  justify-items: center;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 0.75rem 0 0 1rem;
  width: 10rem;
  height: 12rem;
  opacity: 0.8;
}

.card:hover {
  cursor: pointer;
  opacity: 1;
  transform: translateY(1rem);
  transition: all ease 1s;
}

.itens {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.circle {
  width: 12px;
  height: 12px;
  border: 3px solid #222;
  border-radius: 50%;
}

.container__card {
  width: 25vw;
  min-width: 342px;
  height: 80px;
  padding-left: 0.8rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.content {
  display: flex;
  gap: 1rem;
}

.top-right {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.none {
  display: none !important;
}

@media only screen and (max-width: 1500px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media only screen and (max-width: 1120px) {
  .grid {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media only screen and (max-width: 750px) {
  :root {
    font-size: 12px;
  }
  nav {
    min-height: 15vh !important;
    width: 80%;
  }
  .grid {
    grid-template-columns: 1fr !important;
  }
  .container {
    width: 90vw !important;
  }

  .container__card {
    min-width: 300px !important;
  }
}
